* {
    font-family: 'Inter';
    margin-left: 0;
    margin-top: 0;
}
  
.map {
    width: 100%; 
    height: 980px; 
    z-index: -1;
    position:fixed;
    top: 0px;
}

.geocoding {
    position: fixed;
    top: 10px;
    left: 10px;
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 629;
    line-height: normal;
    margin-left: 25px;
    padding-top: 87px;
    margin-top: 0;
}

h2 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 629;
    line-height: normal;
    margin-left: 25px;
    padding-top: 45px;
}

input {
    border: none;
    margin-left: 25px;
    margin-top: 22px;
    display: flex;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    width: 311px;
    height: 35px;
    background-color: #ffffff;
}

.menu__btn {
    border-radius: 25px;
    border: 1px solid #000;
    background: #000;
    width: 311px;
    height: 72px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 480;
    line-height: normal;
    margin-left: 25px;
    margin-top: 67px;
    cursor: pointer;
}


.FirstBlock {
    width: 438px;
    height: 527px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.SecondBlock{
    width: 438px;
    height: 527px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.ThirdBlock{
    width: 438px;
    height: 527px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1; 
}

li {
    display: inline-block;
    border-radius: 0px 25px 0px 0px;
    background: #626262;
    height: 72px;
    width: 72px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    text-align: right;
}

ol {
    padding-left: 0;
    margin-bottom: 0;
    position: relative;
    margin-top: -72px;
}

.tab-list-active {
    background: white;
    position: relative;
    width: 141px;
    height: 72px;
    margin-left: -69px;
    z-index: 1;
}

/* .Plug {
    padding-left: 0;
    margin-top: 150px;
    background: #626262;
    width: 141px;
    height: 72px;
    border-radius: 0px 25px 0px 0px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: -4px;
} */

.Plug2 {
    margin-top: 150px;
    margin-left: -1px;
    background: #626262;
    margin-bottom: -4px;
    width: 217px;
    height: 72px;
    border-radius: 0px 25px 0px 0px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 0;
}

.leftPanel {
    width: 438px;
    height: 599px;
    position: relative;
    z-index: 0;
}

.MapVision {
    width: 100%; 
    height: 980px; 
    z-index: -1;
    position: absolute;
    top: 0px;
}